  
// Colors

$color-primary-ligth: #FFF9CC;
$color-primary: #FFEC4F;

$color-white: #fff;
$color-dark-blue: #2F2E41;
$color-black: #000;

// Fonts

$default-font-size: 2rem;

//Grid

$grid-with: 114rem;
$space-vertical: 8rem;
$space-horizontal: 6rem;