.header {
	height: 100vh;
	background-image:linear-gradient(
		rgba($color-black, 0.3),
		rgba($color-black, 0.3)
	), url(../img/hero.png);
	background-size: cover;
	background-position: top right;

	&__logo-box {
		position: absolute;
		top: 6rem;
		left: 6rem;
	}

	&__logo {
		height: 6.5rem;
	}

	&__text-box {
		position: absolute;
		top: 43%;
		left: 30%;
		transform: translate(-50%, -50%);
		text-align: left;
	}
}