.section-about{
    margin: 20rem;
}

.section-servises{
    background-color: $color-primary;
    padding: 20rem 0;
}

.section-proyects{
    padding: 20rem 0;
}

.section-offer{
    background-image: linear-gradient(
		rgba($color-black, 0.4),
		rgba($color-black, 0.4)
    ), url(../img/desing.png);
    height: 80vh;
    background-size: cover;
}

.section-media{
    padding: 20rem 0;
}